/* style de base du site Web */
body {
    margin: 0;
    background-color: #f9f5f1;
    color: #121212;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

/* style pour les mots d'accent */
span {
    color: #E01E64;
    font-family: 'Sniglet', cursive;
    font-size: 28px;
}

/* marges pour les images */
img {
    margin: 1px 30px 1px;
}


/*==== Barre de navigation supérieure ====*/

/* style pour le mot "Produits" du menu */
#rose {
    color: #E01E64;
}

.topnav {
    padding: 30px;
    position: relative;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #121212;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a.logo {
    font-family: 'Sniglet', cursive;
    font-size: 55px;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;
}

/* === Header/image principale === */

.header {
    padding: 15px;
    margin: 5px 100px;
    text-align: center;
    color: #121212;
}

h1 {
    font-size: 28px;
    font-weight: normal;
}

/* ==== Section des rabais ==== */

h2 {
    font-size: 26px;
    font-weight: bold;
    margin: 5px 100px 30px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 90px 100px 0px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

/* style pour les prix en rabais*/
.rose {
    color: #E01E64;
}

fieldset {
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 30;
    margin: 60px 75px 75px 450px;
}

h1 {
    font-size: 28px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.label {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 10px;
    color: #121212;
}

#log {
    background-color: #f9f5f1;
    color: #121212;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 15px 20px;
    margin: 0 8px 15px;
    border: 1px solid #121212;
    cursor: pointer;
    width: 520px;
}

#oublie {
    margin-left: 10px;
    color: #E01E64;
}

#pasdecompte {
    margin-left: 10px;
}

div a {
    text-decoration: none;
    color: #E01E64;
}

.textbox {
    background-color: #f9f5f1;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 15px 20px;
    margin: 0 8px 15px;
    border: 1px solid #121212;
    border-radius: 3px;
    cursor: pointer;
    width: 480px;
}


/* ==== Footer ====  */

.footer {
    color: #f9f5f1;
    background-color: #121212;
    padding: 60px 0 30px;
    line-height: 24px;
}

#footertext {
    font-size: 16px;
    margin: 0px 150px 0px;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a {
    text-decoration: none;
    margin: 30px;
    color: #f9f5f1;
}

hr {
    color: #f9f5f1;
    opacity: 0.1;
}

.Copyright-text {
    font-size: 12px;
}

#email {
    border: 1px solid white;
    padding: 10px 20px 10px;

}

th {
    padding: 0px 40px 0px;
}

#onoir {
    color: #121212;
}