/* style de base du site Web */
body {
    margin: 0;
    background-color: #f9f5f1;
    color: #121212;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

/* style pour les mots d'accent */
span {
    color: #E01E64;
    font-family: 'Sniglet', cursive;
    font-size: 28px;
}

/* marges pour les images */
img {
    margin: 60px 30px 1px;
}


/*==== Barre de navigation supérieure ====*/

/* style pour le mot "Produits" du menu */
#rose {
    color: #E01E64;
}

.rose {
    color: #E01E64;
}

.topnav {
    padding: 30px;
    position: relative;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #121212;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a.logo {
    font-family: 'Sniglet', cursive;
    font-size: 55px;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;
}

h2 {
    font-size: 26px;
    font-weight: bold;
    margin: 5px 100px 30px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 90px 100px 0px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}


/* ==== Section des produits ==== */
.description {
    display: flex;
    margin: 0px 105px 0px;
}

.crossed {
    text-decoration: line-through;
}

.trois_img {
    display: flex;
    margin: 5px 75px;
}

#desc_pepites {
    margin-left: 150px;
}

#desc_pistache {
    margin-left: 115px;
}

#desc_canelle {
    margin-left: 205px;
}

#desc_avoine {
    margin-left: 185px;
}

#desc_epice {
    margin-left: 210px;
}

#desc_caramel {
    margin-left: 200px;
}

#desc_vanilla {
    margin-left: 180px;
}

#desc_cassonade {
    margin-left: 210px;
}

/* ==== Footer ====  */

.footer {
    color: #f9f5f1;
    background-color: #121212;
    padding: 60px 0 30px;
    line-height: 24px;
}

#footertext {
    font-size: 16px;
    margin: 0px 150px 0px;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a {
    text-decoration: none;
    margin: 30px;
    color: #f9f5f1;
}

hr {
    color: #f9f5f1;
    opacity: 0.1;
}

.Copyright-text {
    font-size: 12px;
}

#email {
    border: 1px solid white;
    padding: 10px 20px 10px;

}

th {
    padding: 0px 40px 0px;
}

#onoir {
    color: #121212;
}