body {
  margin: 0;
  background-color: #f9f5f1;
  color: #121212;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

/* navigation supérieure */

.topnav {
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #121212;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a.logo {
  font-family: 'Nerko One', cursive;
  font-size: 56px;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* Header/image principale */

.header {
  /* border: 2px solid white; */
  padding: 15px;
  margin: 5px 45px;
  text-align: center;
  color: #121212;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

.nouveautes {
  display: flex;
  /* border: 2px solid white; */
  padding: 15px;
  margin: 5px 45px;
  text-align: center;
  color: #121212;
  font-size: 18px;
}