body {
  margin: 0;
  background-color: #f9f5f1;
  color: #121212;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: normal;
}

span {
  color: #E01E64;
  font-family: 'Nerko One', cursive;
  font-size: 32px;
}

img {
  margin: 1px 30px 1px;
}

p {
  margin: 15px 50px;
  text-align: center;
}

/* navigation supérieure */

#lien_produits {
  color: #E01E64;
}

.topnav {
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #121212;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a.logo {
  font-family: 'Nerko One', cursive;
  font-size: 50px;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* Header/image principale */

.header {
  /* border: 2px solid white; */
  padding: 15px;
  margin: 5px 100px;
  text-align: center;
  color: #121212;
}

h1 {
  font-size: 28px;
  font-weight: normal;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  margin: 5px 100px 30px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 90px 100px 0px;
}

.nouveautes {
  display: flex;
  /* border: 2px solid white; */
  padding: 15px;
  margin: 30px 100px;
  text-align: center;
  color: #121212;
  font-size: 18px;
}

.trois_img {
  display: flex;
  margin: 5px 75px;
}

#alacanelle {
  margin-left: 250px;
}